dj-database-url==0.5.0
Django==2.2.24
elasticsearch==6.2.0
git+https://github.com/axiak/fuzzyset.git#egg=fuzzyset
gunicorn==19.7.1
psycopg2==2.7.4
python-Levenshtein==0.12.0
pytz==2018.3
texttable==1.2.1
urllib3==1.22
whitenoise==3.3.1
